.text-content {
  max-width: 500px;
  margin-top: 120px;
}

.text-content h1,
.text-content p {
  color: black;
}

.text-content h1 {
  font-family: "BBHH", sans-serif;
  font-weight: 200;
  font-size: 7ch;}

.divider {
    width: 100%;
    height: 2px;
    border: none;
    background-color: black;
    margin: 24px 0;
  }