.page-section {
  position: relative;
  min-height: 100vh;
  background-color: #F2AEBB;
}


.background-images {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.bg-img {
  position: absolute;
  width: 380px;
  object-fit: cover;
  opacity: 0.85;
}

.img-3 {
  top: -5%;
  left: 6%;
  width: 300px;
  transform: rotate(-14deg);
  filter: blur(4px);
}

.img-2 {
  top: 55%;
  right: 10%;
  width: 200px;
  transform: rotate(9deg);
  filter: blur(2px);

}

.img-1 {
  bottom: 12%;
  left: 16%;
  width: 300px;
  transform: rotate(18deg);
  filter: blur(2px);
}

.img-4 {
  top: 8%;
  right: 18%;
  width: 200px;
  transform: rotate(-27deg);
  filter: blur(1.5px);
}

.img-5 {
  bottom: 5%;
  left: 55%;
  width: 200px;
  transform: rotate(55deg);
  filter: blur(1px);
}


.columns-wrapper {
  position: relative;
  z-index: 1;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- TEXT COLUMNS ---------- */

.text-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #5a2a10;
  font-family: "ROBOTOSLAB", sans-serif;
  font-weight: 500;
}



@media (max-width: 900px) {
  .text-columns {
    grid-template-columns: 1fr;
    font-size: 1.2rem;
    gap: 2rem;
  }

  .bg-img {
    width: 260px;
  }
}
